.heading {
  align-content: center;
  align-self: center;
  text-align: center;
}

.lights {
  align-content: center;
  align-self: center;
  text-align: center;
}

.blinds {
  align-content: center;
  align-self: center;
  text-align: center;
}

.blindsButton {
  width: 80px;
  height: 80px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
}

.lightsButton {
  width: 140px;
  height: 80px;
  margin-top:0px;
  margin-bottom:20px;
  margin-left:5px;
  margin-right:5px;
}