.heading {
  color: #ffffff;
  align-content: center;
  align-self: center;
  text-align: center;
}

.flex-containerWindow {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex-containerBlinds {
}

.flex-containerLights {
}

.lights-row {
  display: flex;
  flex-direction: row;
}

.AllBlindsButton {
  width: 70px;
  height: 70px;
  margin-top:1px;
  margin-bottom:1px;
  margin-right:10px;
  background-color: #F9F1E4;
}
.blindsButton {
  width: 70px;
  height: 70px;
  margin-top:1px;
  margin-bottom:1px;
  margin-left:3px;
  margin-right:3px;
  background-color: #FEF2E2;
}

.lightsButton {
  width: 120px;
  height: 70px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:3px;
  margin-right:3px;
  background-color: #FEF2E2;
  align-content: center;
}