.heading {
  align-content: center;
  align-self: center;
  text-align: center;
}

.lights {
  align-content: center;
  align-self: center;
  text-align: center;

}

.blinds {
  align-content: center;
  align-self: center;
  text-align: center;
}

.blindsButton {
  width: 60px;
}

.lightsButton {
  width: 140px;
}